NOTION_API_KEY=your_notion_integration_token_here
NOTION_DATABASE_ID=your_notion_database_id_here
NOTION_DATABASE_ID_STATEMENT=your_notion_database_id_here_for_statement
NOTION_DATABASE_ID_PRESS=your_notion_database_id_here_for_press
